.container{
    $size: 100px;
    .item {
        width: $size * 3;
        height: $size;
        background: tomato;
    }
}

@function LimitSize($size) {
    @if ($size >= 0 and $size <= 200px) {
        @return 200px;
    } @else {
        @return 800px
    }
}

div {
    width: LimitSize(180px);
    height: LimitSize(340px);
}


// if문 예제
@mixin positionCenter($w, $h, $p: absolute) {
    @if (
    $p == absolute
    or $p == fixed
    or not $p == relative
    or not $p == static
    ) {
        width: if(unitless($w), #{$w}px, $w);
        height: if(unitless($h), #{$h}px, $h);
        position: $p;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.box1 {
    @include positionCenter(10px, 20px);
}

.box2 {
    @include positionCenter(50, 50, fixed);
}

.box3 {
    @include positionCenter(100, 200, relative)
}


// for문 예제
@for $index from 1 through 3 {
    .through:nth-child(#{$index}) {
        width: 20px * $index;
    }
}


// each문 예제
